ion-back-button {
    color: rgb(86, 228, 86);
}

ion-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#btn_updateName, #btn_updateMail, #btn_updatePassword{
    margin-left: 70%;
    color: rgb(86, 228, 86);
    height: 20px;
    width: fit-content;
    font-size: 10px;
}

.alertStyle{
    
}