ion-menu-button {
    color: rgb(86, 228, 86);
}

ion-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

ion-fab{
    background-color: rgb(86, 228, 86);
    border-radius: 50%;
}

ion-fab-button{
    height: 50px;
    width: 50px;
}

ion-card-header {
    font-weight: bold;
    color: green;
}