<form [formGroup]="passwordResetForm">
  <p>Réinitialiser le mot de passe</p>
  <ion-item>
    <ion-label position="stacked">Adresse e-mail</ion-label>
    <ion-input formControlName="email" type="email" [class.invalid]="!passwordResetForm.controls['email'].valid && passwordResetForm.controls['email'].touched">
    </ion-input>
  </ion-item>

  <ion-label class="error-message" *ngIf="!passwordResetForm.controls['email'].valid && passwordResetForm.controls['email'].touched">Adresse e-mail invalide.</ion-label>

  <ion-button id="reset_button" (click)="submitCredentials(passwordResetForm)" [disabled]="!passwordResetForm.valid" expand="block" color="default" shape="round">Réinitialiser</ion-button>
</form>